body {
    background-image: url("seasons.jpg");
    background-repeat: repeat;
    background-position: inherit;
    background-size: 100%;
}

.weatherDisplay {
    background-color: palevioletred;
    text-align: center;
    font-family: 'Sofia', cursive;
}

.userInput {
    padding-top: 20px;
    padding-left: 0;
    background-color: lavenderblush;
    padding-bottom: 20px;
}

.col-4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.currentForecast {
    /* position: fixed; */
    left: 50%;
}

.dailyOutlook {
    text-align: center;
    font-size: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: darkmagenta;
    background-color: lavenderblush;
    opacity: 0.8;
    width: fit-content;
}

.extendedWeather {
    bottom: 10%;
    padding-bottom: 0;
    background-color: lightblue;
    border: 5px solid darkblue;
    opacity: 0.8;
    margin-right: 80%;
    width: fit-content;
}